{% extends "base.html" %}
{% block title %}Project {{project.name}}{% endblock %}
{% block content %}
    <div class="row mb-2">
        <div class="col">
            <h1 style="display:inline-block">{{project.name}}</h1>
            <a class="btn btn-primary btn-sm h1" data-bs-toggle="collapse" href="#titleEditCollapse" role="button" aria-expanded="false" aria-controls="titleEditCollapse">
                <i class="bi bi-pencil-square" aria-label="Edit name"></i>
            </a>
            <button class="btn btn-danger btn-sm h1" data-bs-toggle="collapse" data-bs-target="#deleteProjectFirstCollapse">
                <i class="bi bi-trash" aria-label="Delete project"></i>
            </button>

            <div class="collapse" id="titleEditCollapse">
                <div class="card card-body">
                    <p class="card-text">Edit the name of the project:</p>
                    <form action="{{ url_for('projects.api_update_name', slug=project.slug) }}" method="POST">
                        {{ name_edit_form.csrf_token }}
                        <div class="input-group">
                            {{ name_edit_form.name(class="form-control") }}
                            <button type="submit" class="btn btn-warning">Update</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="collapse" id="deleteProjectFirstCollapse">
                <div class="card card-body">
                    {% if g.user == project.owner %}
                        <p class="card-text">You are the owner of this project and you can delete it.</p>
                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteProjectModal">
                            Delete project
                        </button>
                    {% else %}
                        <p class="card-text">You are a member of this project, and you can leave it.</p>
                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#leaveProjectModal">
                            Leave project
                        </button>
                    {% endif %}
                </div>
            </div>

            {% if g.user != project.owner %}
            <div class="modal fade" id="leaveProjectModal" tabindex="-1" aria-labelledby="leaveProjectModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="leaveProjectModalLabel">Leave project</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to leave this project? You will lose access to it unless you are added to this project again.</p>
                            <p>This action cannot be undone.</p>
                        </div>
                        <div class="modal-footer" style="display: block;">
                            <p>Enter the project's name, <b>{{project.name}}</b>, to confirm:</p>
                            <form action="{{ url_for('projects.api_leave_project', slug=project.slug) }}" method="POST">
                                {{ leave_form.csrf_token }}
                                <div class="input-group">
                                    <input type="text" class="form-control" id="leaveProjectInput" placeholder="Project name" autocomplete="off">
                                    <button id="leaveProjectButton" type="submit" disabled="yes" class="btn btn-outline-danger">Leave project</button>
                                </div>
                            </form>
                            <script>
                                document.getElementById("leaveProjectInput").addEventListener("input", function() {
                                    if (this.value == "{{project.name}}") {
                                        document.getElementById("leaveProjectButton").disabled = false;
                                        document.getElementById("leaveProjectButton").classList.remove("btn-outline-danger");
                                        document.getElementById("leaveProjectButton").classList.add("btn-danger");
                                    } else {
                                        document.getElementById("leaveProjectButton").disabled = true;
                                        document.getElementById("leaveProjectButton").classList.add("btn-outline-danger");
                                        document.getElementById("leaveProjectButton").classList.remove("btn-danger");
                                    }
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}


                <div class="modal fade" id="deleteProjectModal" tabindex="-1" aria-labelledby="deleteProjectModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteProjectModalLabel">Delete project</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete this project?</p>
                                <p>Here's what will happen:</p>
                                <ul>
                                    <li>All 0 forms associated with this project will stop working.</li>
                                    <li>A total of 0 data records from 0 forms will be permanently deleted (make sure you exported any important data).</li>
                                    <li>You and 0 project members will lose access to the project's data.</li>
                                </ul>
                                <p>This action cannot be undone.</p>
                            </div>
                            <div class="modal-footer" style="display: block;">
                                <p>Enter the project's name, <b>{{project.name}}</b>, to confirm:</p>
                                <form method="POST" action="{{ url_for('projects.api_delete_project', slug=project.slug) }}">
                                    {{ delete_form.csrf_token }}
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="deleteProjectInput" placeholder="Project name" autocomplete="off">
                                        <button id="deleteProjectButton" type="submit" disabled="yes" class="btn btn-outline-danger">Delete project</button>
                                    </div>
                                </form>
                                <script>
                                    document.getElementById("deleteProjectInput").addEventListener("input", function() {
                                        if (this.value == "{{project.name}}") {
                                            document.getElementById("deleteProjectButton").disabled = false;
                                            document.getElementById("deleteProjectButton").classList.remove("btn-outline-danger");
                                            document.getElementById("deleteProjectButton").classList.add("btn-danger");
                                        } else {
                                            document.getElementById("deleteProjectButton").disabled = true;
                                            document.getElementById("deleteProjectButton").classList.remove("btn-danger");
                                            document.getElementById("deleteProjectButton").classList.add("btn-outline-danger");
                                        }
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>

            {% endif %}

        </div>
    </div>

    {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
            {% if message == 'project-name-updated' %}
                Project name successfully updated.
            {% elif message == 'project-name-update-error' %}
                Project name update failed.
            {% elif message == 'description-updated' %}
                Description successfully updated.
            {% elif message == 'add-user-not-found' %}
                Could not add user with this email address because it does not exist.
            {% elif message == 'add-not-owner' %}
                You cannot add users to this project because you are not the owner of this project.
            {% elif message == 'add-ok' %}
                Added user to project OK.
            {% elif message == 'remove-ok' %}
                Removed user from project OK.
            {% elif message == 'remove-not-owner' %}
                You cannot remove users from this project because you are not its owner. You can leave the project by deleting it.
            {% else %}
                Unknown status: <code>{{message}}</code>
            {% endif %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <div class="row mb-2">
        <div class="col">
            <form action="{{ url_for('projects.api_update_description', slug=project.slug) }}" method="POST">
                {{ description_edit_form.csrf_token }}
                <div class="input-group">
                    {{ description_edit_form.description(class="form-control", rows=3, placeholder="Description") }}
                    <button type="submit" class="btn btn-warning">Update</button>
                </div>
            </form>
        </div>
    </div>


    <div class="row mb-2">
        <div class="row">
            <button type="button" class="btn btn-success" data-bs-toggle="collapse" data-bs-target="#projectMembersCollapse">
                {{ project_members|length }} project members...
            </button>
        </div>
    </div>
    <div class="row mb-2">
        <div class="row">
            <div class="collapse" id="projectMembersCollapse">
                <div class="card card-body">
                    {% for member in project_members %}
                        <div class="row mb-1">
                            <div class="col input-group">
                                <input type="text" class="form-control" value="{{member.name}} ({{member.email}})" readonly>
                                <button type="button" class="btn btn-danger" data-bs-toggle="collapse" data-bs-target="#removeMemberCollapse-{{ member.id }}">
                                    <i class="bi bi-person-x-fill" aria-label="Delete member {{member.name}}"></i>
                                </button>
                            </div>
                        </div>

                        <div class="card card-body collapse mb-1" id="removeMemberCollapse-{{ member.id }}">
                            <p>Are you sure you want to remove <b>{{ member.name }}</b> from this project?</p>
                            <p>Here's what will happen:</p>
                            <ul>
                                <li><b>{{ member.name }}</b> will lose access to the project's forms and their data.</li>
                                <li><b>{{ member.name }}</b> will no longer be able to create or edit any new forms in this project.</li>
                                <li><b>{{ member.name }}</b> <i>will</i> be able to create their own projects and forms.</li>
                            </ul>
                            <p>You can add <b>{{ member.name }}</b> back to this project at any time.</p>
                            <div class="row">
                                <div class="col">
                                    <form action="{{ url_for('projects.api_remove_member', slug=project.slug, user_id=member.id) }}" method="POST">
                                        {{ remove_member_form.csrf_token }}
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-danger">
                                                Delete member <b>{{ member.name }}</b>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="row">
                        <form action="{{ url_for('projects.api_add_member', slug=project.slug) }}" method="POST">
                            {{ add_member_form.csrf_token }}
                            <div class="input-group">
                                {{ add_member_form.email(class="form-control", placeholder="Member's email") }}
                                <button type="submit" class="btn btn-success">
                                    <i class="bi bi-person-plus-fill" aria-label="Add member"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <h1>{{forms|length}} forms</h1>
    
        {% for form in forms %}
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">{{form.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{form.slug}}</h6>
                <p class="card-text">{{form.description}}</p>
                <a href="{{ url_for('forms.view', slug=form.slug) }}" class="card-link stretched-link">View form</a>
            </div>
        </div>
        {% endfor %}

        <form action="{{ url_for('forms.api_create', slug=project.slug) }}" method="POST">
            {{ add_form_form.csrf_token }}
            <div class="input-group">
                <button type="submit" class="btn btn-success">
                    Add new form...
                </button>
            </div>
        </form>

    </div>
{% endblock %}