{% extends "base.html" %}
{% block title %}Your projects{% endblock %}
{% block content %}
    <div class="container">
        <div class="row mb-2 row-cols-lg-6 gy-4">
            <div class="col-lg-6">
                <h2>Projects you own</h2>

                {% for project in owned_projects %}
                    {% include "project-card.html" with context %}
                {% else %}
                    <p>You are not the owner of any projects yet.</p>
                {% endfor %}

                <form action="{{ url_for('projects.create') }}" method="POST">
                    {{ create_form.csrf_token }}
                    <button type="submit" class="btn btn-success">Create new project</button>
                </form>


            </div>

            <div class="col-lg-6">
                <h2>Projects you are a member of</h2>

                {% for project in member_projects %}
                    {% include "project-card.html" with context %}
                {% else %}
                    <p>You are not a member of any projects yet.</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}