{% extends "login-base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    {% if form.errors %}
    <div class="alert alert-warning" role="alert">
    Errors in the form:
    <ul>
    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            <li>{{ form[field_name].label }}: {{ field_errors }}</li>
    {% endfor %}
    </ul>
    </div>
    {% endif %}

    <form method="post" action="{{ submit_url }}">
    <div class="form-floating mb-3">
        {{ form.email(class_="form-control rounded-3") }}
        {{ form.email.label }}
    </div>
    <div class="form-floating mb-3">
        {{ form.password(class_="form-control rounded-3") }}
        {{ form.password.label }}
    </div>

    {{ form.hidden_tag() }}

    <button type="submit" class="w-100 mb-2 btn btn-lg rounded-3 btn-primary">Login</button>
    </form>
{% endblock %}