{% extends "base.html" %}
{% block title %}Configure TOTP{% endblock %}
{% block content %}
{% if g.user.totp_enabled %}
    <div class="row">
        <p>
            You have TOTP enabled. You can view your recovery codes here.
        </p>
    </div>

    <div class="row row-cols-2 mb-2">
        {% for code in g.user.totp_recovery_codes.split() %}
        <div class="col">
            <p class="fs-2 text-center {{ 'text-muted text-decoration-line-through' if '!' in code else '' }}">
                {% if '!' in code %}
                    <span class="visually-hidden">Used and now inactive</span>
                {% endif %}
                {{ code.replace('!', '') }}
            </p>
        </div>
        {% endfor %}
    </div>

    <div class="row mb-2">
        <div class="col">
            <button class="btn btn-outline-warning" data-bs-toggle="collapse" data-bs-target="#recovery-code-regen" aria-expanded="false" aria-controls="collapseExample">Regenerate recovery codes</button>
        </div>
    </div>
    <div class="row mb-2 collapse" id="recovery-code-regen">
        <div class="col card card-body">
            <p>You are about to regenerate your recovery codes.</p>
            <p>Here's what will happen:</p>
            <ul>
                <li>All the recovery codes listed above (even unused ones) will <strong>stop working</strong>.</li>
                <li>You will be given an <strong>entirely new set</strong> of recovery codes.</li>
            </ul>
            <p>This action cannot be undone.</p>
            <form action="{{ url_for('login.totp_config_reset_codes') }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit" class="btn btn-warning">Regenerate recovery codes</button>
            </form>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col">
            <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#totp-disable" aria-expanded="false" aria-controls="collapseExample">Disable TOTP</button>
        </div>
    </div>

    <div id="totp-disable" class="modal fade" tabindex="-1" aria-labelledby="totp-disable-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="totp-disable-label">Disable TOTP</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>You are about to disable TOTP for your account, <code>{{g.user.email}}</code>.</p>
                    <p>Here's what will happen:</p>
                    <ul>
                        {% if g.user.webauthn_enabled %}
                            <li>You will now <strong>only be able to log in with WebAuthn</strong>, and TOTP will not be available as an authentication option.</li>
                        {% else %}
                            <li>Your password will be <strong>enough to log into your account</strong>; there will not be any two-factor authentication.</li>
                        {% endif %}
                        <li>If you enable TOTP later, you will need <strong>a new set of recovery codes</strong>, as well as to add a new record to your authenticator app.</li>
                        <li>After you disable TOTP, you <strong>should delete the account record in your authenticator app</strong>.</li>
                    </ul>
                    <p>This action cannot be undone.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form action="{{ url_for('login.totp_config_disable') }}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button type="submit" class="btn btn-danger">Disable TOTP</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="row mb-2">
        <div class="col">
            <p>
                You have not enabled TOTP yet. You can do so here.
            </p>
        </div>
    </div>

    <!-- Q/A section about benefits of TOTP -->
    <div class="row mb-2 row-cols-2">
        <div class="col">
            <h5>What is TOTP?</h5>
            <p>
                <a href="https://en.wikipedia.org/wiki/Time-based_one-time_password">Time-based one-time passwords</a>
                are a security measure that can be used to protect your account.
                Usually you only need your email and password to log in.
                If you enable TOTP, you will need to enter a code generated by an authenticator app on your phone.
            </p>
        </div>
        <div class="col">
            <h5>Why should I enable TOTP?</h5>
            <p>
                If your password for this account is compromised,
                an attacker will not be able to log in without also having access to your phone.
                This is because they will not have the code generated by your authenticator app.
                This increases the security of your account.
            </p>
        </div>
        <div class="col">
            <h5>What if I lose my phone?</h5>
            <p>
                You will be given 10 recovery codes.
                If you lose your phone, you can use one of these codes to log in.
                Each code can only be used once.
            </p>
        </div>
        <div class="col">
            <h5>What if I lose my recovery codes?</h5>
            <p>
                You can view and regenerate your recovery codes at any time.
                This will invalidate all previous recovery codes.
            </p>
        </div>
        <div class="col">
            <h5>Does this protect me from phishing?</h5>
            <p>
                If you log in using a phishing page, an attacker might be able to steal your password and TOTP code;
                using those, they can immediately log in to your account. Because of this, TOTP will not protect you from phishing.
                Our other supported 2FA method, WebAuthn, does not have this issue.
            </p>
        </div>
        <div class="col">
            <h5>What is an authenticator app?</h5>
            <p>
                It's a program for your phone that generates one-time passwords.
                You will need to configure it to work with your account by scanning a QR code.
                Popular options include <a href="https://support.google.com/accounts/answer/1066447?hl=en&co=GENIE.Platform%3DAndroid">Google Authenticator</a>,
                <a href="https://authy.com/">Authy</a> or <a href="https://freeotp.github.io/">FreeOTP</a>.
            </p>
        </div>


    </div>

    <div class="row mb-2">
        <div class="col">
            <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#totp-enable" aria-expanded="false" aria-controls="collapseExample">Enable TOTP</button>
        </div>
    </div>

    <div id="totp-enable" class="modal fade" tabindex="-1" aria-labelledby="totp-enable-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="totp-enable-label">Enable TOTP</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>You are about to enable TOTP for your account, <code>{{g.user.email}}</code>.</p>
                    <p>Here's what will happen:</p>
                    <ul>
                        <li>You will now require <strong>both your password and a code generated by your authenticator app</strong> to log in.</li>
                        <li>You will be given <strong>10 recovery codes</strong>, which you can use to log in if you lose your phone.</li>
                    </ul>
                    <p>You will be able to disable TOTP at any time.</p>
                    <hr>
                    <p>When you're ready, scan this QR code in your authenticator app:</p>
                    <div class="text-center">
                        <img src="{{totp_qr}}" alt="QR code for TOTP" class="img-fluid mb-3">
                    </div>
                    <p>Alternatively, you can enter this secret code manually: <code>{{totp_secret}}</code></p>
                    <p>Once you've added this account to your app, enter the password it shows to finish the configuration.</p>
                </div>


                <div class="modal-footer">
                    <form class="input-group" action="{{ url_for('login.totp_config_enable') }}" method="POST" style="display: inherit;">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        {{ totp_form.hidden_tag() }}
                        {{ totp_form.totp(class="form-control") }}
                        <button type="submit" class="btn btn-success">Enable TOTP</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}
